.layout {
    margin: 10px auto auto;
    max-width: 1200px;
    min-width: 800px;
}


.header {
    align-items: center;
    border: 1px solid #ddd;

    display: flex;
    justify-content: space-between;

    height: 50px;
    padding: 0 20px;
}

